torch==2.5.1
transformers==4.51.3
matplotlib
seaborn
lightning
deepspeed
litserve
lm_eval
# For IFEval
langdetect
immutabledict
evalplus[vllm]
# For Long Bench
jieba
fuzzywuzzy
rouge
python-Levenshtein